table{
    width: 100%;
    box-shadow: none;
}
.btn{
    width: 150px;
    height: 35px;
    border: 1px solid #89ABDE;
    border-radius: 50px;
    color: #89ABDE;
}
mat-icon{
    color: #89ABDE;
}
.h2{
    color: #89ABDE;
}
th{
    background-color: #d6e4f9;
    color: #7096cf ;
}
.th_1{
    border-top-left-radius: 15px ;
}
.th_2{
    border-top-right-radius: 15px ;
}
.title{
    text-align: center;
}

