<div class="container-fluid bg-dark mt-5 pt-3">
  <div class="container bg-dark">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="menuDiv2" fxFlex fxflex.sm="100%" fxflex.xs="100%">
        <div fxLayoutAlign="start">
          <ul fxLayout="row">
            <li><a routerLink="homepage">ໜ້າຫຼັກ</a></li>
            <li><a routerLink="home">ສິນຄ້າທັງໝົດ</a></li>
            <li><a href="contact.asp">ກ່ຽວກັບພວກເຮົາ</a></li>
            <li><a href="about.asp">ຕິດຕໍ່</a></li>
          </ul>
        </div>
        <div fxFlex></div>
        <button class="btn">ລົງທະບຽນ</button>
      
      </div>
      
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
    <hr>
    <div class="h2 mt-2">Taengthong's Clothing</div>
    
</div>
<div class="mt-3" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="text" ><mat-icon> location_on</mat-icon>ແສນຊຸມ ໂພນໂຮງ</div> 
</div>
<div class="mt-3" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="text mb-5"><mat-icon> call </mat-icon> 020 22557799 </div> 
</div>
  </div>
</div>
