<div class="container">
    <div class="h4 text-center mt-3">ລາຍລະອຽດການຂາຍ</div>
   
    <div class="row mt-4 ms-5">


      <div class="col  me-3">
          <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
   
            <ng-container matColumnDef="emID">
              <th class="th_1" mat-header-cell *matHeaderCellDef style="width: 5px; text-align: center;" > ລຳດັບ </th>
              <td mat-cell *matCellDef="let element; let i = index" class="text-center" > {{i+1}} </td>
            </ng-container>
          
           
            <ng-container matColumnDef="productID" >
              <th mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ຊື່ສິນຄ້າ </th>
              <td mat-cell *matCellDef="let element" class="text-center" > {{element.productName}} </td>
            </ng-container>

            <ng-container matColumnDef="sale_qty" >
              <th mat-header-cell *matHeaderCellDef style="width: 200px ; text-align: center;" > ຈຳນວນ </th>
              <td mat-cell *matCellDef="let element" class="text-center" > {{element.sale_qty}} </td>
            </ng-container>

            


            <ng-container matColumnDef="price">
              <th class="th_2" mat-header-cell *matHeaderCellDef style="width: 150px ; text-align: center;"> ລາຄາ </th>
              <td mat-cell *matCellDef="let element" class="text-center" > {{element.sell_price | number}} ກີບ </td>
            </ng-container>


            <!-- <ng-container matColumnDef="qty" >
              <th mat-header-cell *matHeaderCellDef style="width: 20px ; text-align: center;" > ວັນທີ </th>
              <td mat-cell *matCellDef="let element" class="text-center" > {{element.buy_date | date:'dd/MM/yyyy'}}  </td>
            </ng-container>
 -->

          
          
            
          
            <tr mat-header-row *matHeaderRowDef="displaySale"></tr>
            <tr mat-row *matRowDef="let row; columns: displaySale;"></tr>
            
          </table>
          
          <div class="text-end mt-5 h4">ລາຄາລວມ <span class="h4"> {{saleDetail[0].total_price | number}} ກີບ </span></div> 
       
        </div>
  </div>
   
</div>
