<!-- <div class="container">
    <div fxflex="row wrap">
        <div fxLayout="column" fxFlex="67" >
            <h1 fxLayoutAlign="start center">Taengthong's Clothing</h1>
        </div>
        <div fxLayout="row" fxFlex="33"  >
            <div fxLayout="column" fxFlex fxLayoutAlign="center end"  >
                <a href="">ເຂົ້າສູ່ລະບົບ</a>
            </div>
            <div fxLayout="column" fxFlex  fxLayoutAlign="center center" >
                <button class="btn btn-dark but">ລົງທະບຽນ</button>
            </div>
        </div>
    </div>

    <div fxflex="row wrap">
        
    </div>
</div> -->





<div fxLayout="row wrap" fxLayoutAlign="center">
    <div fxFlex="100%" fxflex.sm="100%" fxflex.xs="100%">
        <img src="https://d29c1z66frfv6c.cloudfront.net/pub/media/catalog/product/large/9eab425c9952023806a3f86224c0de6bba52947b_xxl-1.jpg" alt="Los Angeles" class="img">
</div>
</div>



<div class="container">
  <div class="h4 text-center">ສິນຄ້າມາໃໝ່</div>
    <div class="row gx-3 pt-5" fxLayout="row wrap" fxLayoutAlign="center center" *ngFor="let item of data2">
        
            <div class="pd" fxFlex="30%" fxFlex.sm="100%" fxFlex.xs="100%"  fxLayoutAlign.sm="center">
                <mat-card class="example-card">
                    <img mat-card-image src={{item.image}} alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                       {{item.productName}}
                      </p>
                      <p>{{item.sell_price | number}} ກີບ</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button class="btn2"> <mat-icon>shopping_cart</mat-icon>ເພີ່ມເຂົ້າກະຕ່າ</button>
                      <button mat-button class="btn1"><mat-icon>shopping_basket</mat-icon>ຊື້ສິນຄ້າ</button>
                    </mat-card-actions>
                </mat-card>
            </div>
    </div>
</div>



<div class="container">
    <div class="row gx-3 pt-5" fxLayout="row wrap" fxLayoutAlign="center center">
        <button class="btn">ເບິ່ງສິນຄ້າເພີ່ມເຕີມ</button>
        </div>
        </div>




