<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="h5">ຢືນຢັນການຂາຍ</div>
        </div>

        <div class="col-1">
            <button class="btn_close" type="button" (click)="onClose()"><mat-icon>cancel</mat-icon></button>
        </div>
    </div>

    <hr class="mb-2">

    <p>ລາຍການສິນຄ້າ</p>

    <div class="product-list" style="height: 350px ; max-height: 340px; overflow-x: hidden ;" >
        <div class="row" *ngFor="let item of receive">
            <div class="col-9">
                <p>{{item.productName}}</p>
                <p>{{item.sell_price | number}} x {{item.Qty}} </p>
            </div>
    
            <div class="col-3">
                <p class="ms-4 ps-2">{{cal(item.sell_price,item.Qty) | number}} ກີບ</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-9 mt-1">
            ລາຄາລວມທັງໝົດ
        </div>
        <div class="col-3">
            <div class="h6 mt-1 ms-4 ps-2"> {{ this.TotalPrice | number}} ກີບ </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3 mt-1">
            ຈຳນວນເງິນທີ່ຮັບມາ
        </div>
        <div class="col-9">
            <input type="number"  (keyup)="input($event)" >
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3 mt-1">
            ເງິນທອນ
        </div>
        <div class="col-9">
            {{this.money | number}} ກີບ
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3 mt-1">
           
        </div>
        <div class="col-9">
            <button [disabled]="this.errorText"  mat-button [mat-dialog-close]="data.animal" printSectionId="print" ngxPrint [useExistingCss]="true" (click)="addSale()"  class="btn" type="button">ບັນທຶກການຂາຍ</button>
        </div>
        <div id="print" hidden>
            <div class="logo">
                Taengthong Clothing
            </div>
            <div class="info">
                <div>ຮ້ານຂາຍເສື້ອຜ້ານາງແຕງທອງ - <span>02022298327</span></div>
                <div>ຜູ້ຂາຍ : {{this.user_info.data[0].emName}}</div>
                <div>ວັນທີ {{date | date:'dd/MM/yyy'}}</div>
            </div>

            <div>
                <table class="list-product">
                    <thead>
                        <tr>
                            <th style="width: 300px ;">ຊື່ສິນຄ້າ</th>
                            <th style="width: 300px ;">ຈຳນວນ</th>
                            <th style="width: 300px ;">ລາຄາ</th>
                        </tr>
                    </thead>
                    <tbody  *ngFor="let item of receive">
                        <tr>
                            <td style="width: 300px ;">{{item.productName}}</td>
                            <td style="width: 300px ;">{{item.Qty}}</td>
                            <td style="width: 300px ;">{{item.sell_price | number}} ກີບ</td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
            <hr>
           <table class="totalprice">
            <tbody>
                <tr>
                    <td style="width: 150px ;">ລາຄາລວມ</td>
                    <td style="width: 150px ;">{{calTotal(this.receive) | number}} ກີບ</td>
                </tr>
            </tbody>
           </table>

           <div class="footer">ຂອບໃຈລູກຄ້າທຸກຄົນທີ່ອຸດໜູນ</div>
        </div>
    </div>
</div>
