<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="h5">ຢືນຢັນການຂາຍ</div>
        </div>

        <div class="col-1">
            <button class="btn_close" type="button" (click)="onClose()"><mat-icon>cancel</mat-icon></button>
        </div>
    </div>

    <hr class="mb-2">

    <p>ລາຍການສິນຄ້າ</p>

    <div class="product-list">
        <div class="row">
            <div class="col-9">
                <p>productName</p>
                <p>price x qty</p>
            </div>
    
            <div class="col-3">
                <p class="ms-4 ps-2">120.000 ກີບ</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-9 mt-1">
            ລາຄາລວມທັງໝົດ
        </div>
        <div class="col-3">
            <p class="h6 mt-1 ms-4 ps-2">300.000 ກີບ</p>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3 mt-1">
            ຈຳນວນເງິນທີ່ຮັບມາ
        </div>
        <div class="col-9">
            <input type="text">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3 mt-1">
            ເງຶນທອນ
        </div>
        <div class="col-9">
            <input type="text">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3 mt-1">
           
        </div>
        <div class="col-9">
            <button class="btn" type="button">ບັນທຶກການຂາຍ</button>
        </div>
    </div>
</div>
