<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="h5">ຢືນຢັນການຂາຍ</div>
        </div>

        <div class="col-1">
            <button class="btn_close" type="button" (click)="onClose()"><mat-icon>cancel</mat-icon></button>
        </div>
    </div>

    <hr class="mb-2">

    <p>ລາຍການສິນຄ້າ</p>

    <div class="product-list">
        <div class="row" *ngFor="let item of receive">
            <div class="col-9">
                <p>{{item.productName}}</p>
                <p>{{item.sell_price}} x {{item.Qty}} </p>
            </div>
    
            <div class="col-3">
                <p class="ms-4 ps-2">{{cal(item.sell_price,item.Qty)}} ກີບ</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-9 mt-1">
            ລາຄາລວມທັງໝົດ
        </div>
        <div class="col-3">
            <div class="h6 mt-1 ms-4 ps-2"> {{calTotal(this.receive)}} ກີບ </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3 mt-1">
            ຈຳນວນເງິນທີ່ຮັບມາ
        </div>
        <div class="col-9">
            <input type="number"  (change)="input($event)" >
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3 mt-1">
            ເງິນທອນ
        </div>
        <div class="col-9">
            {{this.money}} ກີບ
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3 mt-1">
           
        </div>
        <div class="col-9">
            <button mat-button [mat-dialog-close]="data.animal" printSectionId="print" ngxPrint  (click)="addSale()" class="btn" type="button">ບັນທຶກການຂາຍ</button>
        </div>
        <div id="print">
            <div class="row">
                <div class="col">
                    logo
                </div>
                <div class="col">
                    
                </div>
            </div>
        </div>
    </div>
</div>
