
<div class="container text-center mt-4">
  <div class="h4">ຈັດຊື້ສິນຄ້າ</div>
  <div class="container mt-3">
    <mat-tab-group dynamicHeight mat-align-tabs="center">
      <mat-tab label="ຈັດຊື້ສິນຄ້າ">
        <div class="col text-end mt-3">
          <button class="btn_orderlist ms-2" (click)="showOrderlist()" type="button">
            ລາຍການທີ່ໄດ້ຈັດຊື້ແລ້ວ
          </button>
          <button class="btn_addProduct" (click)="openDialog()" type="button">
            ເພີ່ມສິນຄ້າໃໝ່
          </button>
        </div>

        <!-- <div class="card pb-4 mt-4">
          <div class="row">
            <div class="col">
              <div class="text-start ms-2 ps-3 mt-3">
                <mat-icon> shopping_cart </mat-icon>
                <div
                  style="
                    position: absolute;
                    margin-left: 30px;
                    margin-top: -27px;
                  "
                >
                  ຟອມສິນຈັດຊື້ສິນຄ້າ
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-8"></div>
                  <div class="col">
                    <div class="row">
                      <div class="col-4" style="margin-left: 95px">
                        <button class="btn_addProduct" (click)="openDialog()" type="button">
                          ເພີ່ມສິນຄ້າໃໝ່
                        </button>
                      </div>
                      <div class="col-2">
                        <a class="btn" [routerLink]="['/out_of_stock']"
                          >ເບິ່ງສິນຄ້າທີ່ໃກ້ໝົດ</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form class="text-start ps-4 pe-4" [formGroup]="orderForm">
            <div class="row mt-3">
              <div class="col">
                <label for="">ເລືອກຜູ້ສະໜອງ</label>
            <select
              name=""
              id=""
              class="add-product-input form-control form-select mt-2"
              formControlName="supID" 
              [ngClass]="{'is-invalid': submitted && p['supID'].invalid && p['supID'].touched}"
            >
            <option disable selected hidden value="">ເລືອກຜູ້ສະໜອງ</option>
            <option *ngFor="let item of data4"  [ngValue]="item">{{ item.supName }}</option>
           
            </select>

              </div>
              <div class="col">
                <label class="text-start"> ລະຫັດສິນຄ້າ </label>
                <input
                  type="text"
                  class="input form-control mt-2"
                  placeholder="ລະຫັດສິນຄ້າ"
                  formControlName="productID"
                />
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label> ຈຳນວນ </label>
                <input
                  type="text"
                  class="input form-control mt-2"
                  placeholder="ຈຳນວນ"
                  formControlName="buy_qty"
                />
              </div>

            </div>

            <div class="row mt-3">
              <div class="col">
                <button type="button" (click)="addItem()" [disabled]="orderForm.invalid" class="btn-add-item">ເພີ່ມລາຍການ</button>
              </div>
            </div>
          </form>
        </div> -->

        <div class="text-start mt-2 mb-2 ms-2">
          <!-- <img class="form-icon" src="../../assets/img/form.png" alt=""> -->
          <mat-icon>list</mat-icon>
          <div style="position: absolute; margin-left: 30px; margin-top: -27px">
            ລາຍການສິນຄ້າທັງໝົດ
          </div>
        </div>
        <div class="row text-start ms-2 ">
<!--           
            <button (click)="onSelectcategory(1)" class="btn_addProduct ">ເສື້ອແຂນສັ້ນ</button>
         
            <button (click)="onSelectcategory(2)" class="btn_addProduct ms-2">ເສື້ອແຂນຍາວ</button> -->

            <select name="" id=""  class="input form-control form-select" (change)="onSelectSupplier($event)">
              <option disable selected hidden value="">ເລືອກຜູ້ສະໜອງ</option>
              <option *ngFor="let item of data4" value="{{ item.supID }}" >{{ item.supName }}</option>
            </select>

            <button (click)="onSelect(3)" class="btn_addProduct ms-2">ສິນຄ້າທີ່ໃກ້ໝົດ</button>

            
          
            <div class="col text-end">
              <img src="../../assets/img/search-interface-symbol.png" alt="" class="pic">
              <input class="search" type="text" #input (input)="search_Product(input.value)" placeholder="ຄົ້ນຫາ">
            </div>
        </div>

        
        <!-- <div class="card">
         <div  style="height: 190px; max-height: 190px;overflow-x: hidden;"> -->

          <!-- <table>
            <thead>
              <tr>
                <th>ຜູ້ສະໜອງ</th>
                <th>ຊື່ສິນຄ້າ</th>
                <th>ຈຳນວນ</th>
                <th>ລົບ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listData">
                <td> {{item.supName}} </td>
                <td> {{item.productName}} </td>
                <td> {{item.buy_qty}} </td>
                <td> <button class="btn btn-dark">ລົບ</button> </td>
              </tr>
            </tbody>
          </table> -->
          
          <!-- <div class="col">
            <table mat-table [dataSource]="dataOrderlist" class="mat-elevation-z8 table-supplier">

            <ng-container matColumnDef="supName">
            <th mat-header-cell *matHeaderCellDef style="width: 5px; text-align: center;" > ຜູ້ສະໜອງ </th>
            <td mat-cell *matCellDef="let element" class="text-center" > {{element.supName}} </td>
            </ng-container>


            <ng-container matColumnDef="productName" >
            <th mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ຊື່ສິນຄ້າ </th>
            <td mat-cell *matCellDef="let element" class="text-center" > {{element.productName}} </td>
            </ng-container>

            <ng-container matColumnDef="buy_qty" >
            <th mat-header-cell *matHeaderCellDef style="width: 200px ; text-align: center;" > ຈຳນວນ </th>
            <td mat-cell *matCellDef="let element" class="text-center" > {{element.buy_qty}} </td>
            </ng-container>

            <ng-container matColumnDef="price" >
              <th mat-header-cell *matHeaderCellDef style="width: 200px ; text-align: center;" > ລາຄາ </th>
              <td mat-cell *matCellDef="let element" class="text-center" > {{element.price}} </td>
              </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef style="width: 150px ; text-align: center;"> ຈັດການ </th>
              <td mat-cell *matCellDef="let element" class="text-center" > <button class="btn-delete"><mat-icon>delete</mat-icon></button>   </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayOrderList"></tr>
            <tr mat-row *matRowDef="let row; columns: displayOrderList;"></tr>

            </table>


            </div> -->
          
         <!-- </div>
          <hr class="mt-2">
          <div class="row">
            <div class="col-9"></div>
            <div class="col-3 text-end ps-4 pe-5 p-0">
              <button type="button" (click)="addOrder()"class="btn_save ms-4 mb-3">ບັນທຶກ</button>
            </div>
          </div>

          
        </div> -->


        <div class="col mt-4">
          <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
   
            <ng-container matColumnDef="proID">
              <th class="th_1" mat-header-cell *matHeaderCellDef style="width: 5px; text-align: center;" > ລຳດັບ </th>
              <td mat-cell *matCellDef="let element; let i = index" class="text-center" > {{i+1}} </td>
            </ng-container>
          
           
            <ng-container matColumnDef="image" >
              <th mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ຮູບພາບ </th>
              <td mat-cell *matCellDef="let element" class="text-center" > <img src="{{element.image}}" alt=""> </td>
            </ng-container>

            <ng-container matColumnDef="productCode" >
              <th mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ລະຫັດສິນຄ້າ </th>
              <td mat-cell *matCellDef="let element" class="text-center" > {{element.product_code}} </td>
            </ng-container>

            <ng-container matColumnDef="proName" >
              <th mat-header-cell *matHeaderCellDef style="width: 200px ; text-align: center;" > ຊື່ສິນຄ້າ </th>
              <td mat-cell *matCellDef="let element" class="text-center" > {{element.productName}} </td>
            </ng-container>

            <ng-container matColumnDef="qty" >
              <th mat-header-cell *matHeaderCellDef style="width: 80px ; text-align: center;" > ຈຳນວນໃນສະຕັອກ </th>
              <td mat-cell *matCellDef="let element" class="text-center" > {{element.Qty}} {{element.unitName}}</td>
            </ng-container>

            <!-- <ng-container matColumnDef="buy_price" >
              <th mat-header-cell *matHeaderCellDef style="width: 130px ; text-align: center;" > ລາຄາຊື້ </th>
              <td mat-cell *matCellDef="let element" class="text-center" ><input class="buy_qty" type="number" id="1{{element.productID}}" [value]="element.buy_price"  > ກີບ </td>
            </ng-container>

            <ng-container matColumnDef="sell_price" >
              <th mat-header-cell *matHeaderCellDef style="width: 130px ; text-align: center;" > ລາຄາຂາຍ </th>
              <td mat-cell *matCellDef="let element" class="text-center" ><input class="buy_qty" type="number" id="3{{element.productID}}" [value]="element.sell_price" > ກີບ </td>
            </ng-container> -->

            <ng-container matColumnDef="buy_qty" >
              <th mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ຈຳນວນທີ່ຕ້ອງການສັ່ງ</th>
              <td mat-cell *matCellDef="let element" class="text-center" > <input class="buy_qty" type="number" id="2{{element.productID}}" [value]="1" > </td>
            </ng-container>


              <ng-container matColumnDef="action">
                <th class="th_2" mat-header-cell *matHeaderCellDef style="width: 120px ; text-align: center;"> ຈັດການ </th>
                <td mat-cell *matCellDef="let element" class="text-center" > <button class="addItem" (click)="addItem2(element)">ເພີ່ມເຂົ້າ</button></td>
              </ng-container>
 
            <tr mat-header-row *matHeaderRowDef="displayProduct"></tr>
            <tr mat-row *matRowDef="let row; columns: displayProduct;"></tr>
            
          </table>
          
          <mat-paginator [length]="data2.length"
            [pageSize]="10"
             showFirstLastButtons
             aria-label="Select page of periodic elements">
            </mat-paginator>

        </div>

     <!-- <form action="" [formGroup]="orderForm">
      <table class="mt-3">
        <thead>
          <tr>
            <th>ລະຫັດສິນຄ້າ</th>
            <th>ຮູບພາບ</th>
            <th>ຊື່ສິນຄ້າ</th>
            <th>ຈຳນວນໃນສະຕັອກ</th>
            <th>ລາຄາຊື້</th>
            <th>ຈຳນວນທີ່ຕ້ອງການສັ່ງ</th>
            <th>ຈັດການ</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let item of data5;let i = index;">
            <td> {{item.productID}} </td>
            <td> <img src="{{item.image}}" alt="">  </td>
            <td> {{item.productName}}/td>
            <td> {{item.Qty}} </td>
           
            <td> {{item.buy_price}} </td>
             <td > 
              <div> 
                <div class="d-flex flex-row justify-content-center">
                  <button class="btn-add" (click)="increase(i,item)"><mat-icon>add_circle_outline</mat-icon></button>
                  <div class="h5 mt-1 ps-3 pe-3">{{item.buy_qty}}</div>
               
                  <button class="btn-minimize" (click)="decrease(i)"><mat-icon>remove_circle_outline</mat-icon></button>
                </div>
              </div>
          </td>
            <td> <button (click)="addItem2(item)" class="btn btn-dark">ຈັດຊື້</button> </td>
          </tr>
        </tbody>
      </table>
     </form> -->


      </mat-tab>

      <mat-tab label="ລາຍການທີ່ຈັດຊື້">
        <div class="row">
          <div class="col-8">
            <div class="text-start ms-2 ps-3 mt-3">
              <mat-icon class="icon">list</mat-icon>
              <div
                class="h5"
                style="position: absolute; margin-left: 30px; margin-top: -27px"
              >
                ລາຍການທີ່ຈັດຊື້
              </div>
            </div>
          </div>

          <!-- <div class="col-sm-4 mt-3 text-end">
            <img src="../../assets/img/search-interface-symbol.png" alt="" class="pic">
            <input class="search" type="text" placeholder="ຄົ້ນຫາ">
          </div> -->
        </div>

        <!-- <div class="col mt-4">
          <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
            <ng-container matColumnDef="proID">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="width: 5px; text-align: center"
              >
                ລະຫັດການຈັດຊື້
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                {{ element.productID }}
              </td>
            </ng-container>

            <ng-container matColumnDef="image">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="width: 100px; text-align: center"
              >
              ຜູ້ສະໜອງ
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <img src="{{ element.image }}" alt="" />
              </td>
            </ng-container>

            <ng-container matColumnDef="proName">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="width: 200px; text-align: center"
              >
                ວັນທີ
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                {{ element.productName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="qty">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="width: 20px; text-align: center"
              >
                ຈຳນວນ
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                {{ element.Qty }}
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="width: 150px; text-align: center"
              >
                ລາຍລະອຽດ
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                <button type="button" class="btn-delete">ເພີ່ມເຂົ້າ</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayOrder"></tr>
            <tr mat-row *matRowDef="let row; columns: displayOrder"></tr>
          </table>
        </div> -->
      
        
          <table class="mt-3">
            <thead class="pt-2 pb-2">
              <tr >
                <th class="th_1">ລຳດັບ</th>
                <th>ຜູ້ສະໜອງ</th>
                <th>ລະຫັດສິນຄ້າ</th>
                <th>ຊື່ສິນຄ້າ</th>
                <th>ຈຳນວນ</th>
                <!-- <th>ລາຄາຊື້</th>
                <th>ລາຄາຂາຍ</th> -->
                <th class="th_2">ລົບ</th>
              </tr>
            </thead>
            <tbody class="text-center" style="height: 360px ; max-height: 350px;">
              <tr *ngFor="let item of listData;let i = index; let n = index">
                <td> {{n+1}} </td>
                <td> {{item.supName}} </td>
                <td> {{item.product_code}} </td>
                <td> {{item.productName}} </td>
                <td > 
                  <div> 
                    <div class="d-flex flex-row justify-content-center">
                      <!-- <button class="btn-add" (click)="increase(i,item)"><mat-icon>add_circle_outline</mat-icon></button> -->
                      <div class="h5 mt-1 ps-3 pe-3">{{item.buy_qty}} {{item.unitName}}</div>
                      <!-- <button class="btn-minimize" (click)="decrease(i)"><mat-icon>remove_circle_outline</mat-icon></button> -->
                    </div>
                  </div>
              </td>
                <!-- <td> {{item.buy_price | number}} ກີບ </td>
                <td> {{item.sell_price  | number}} ກີບ </td> -->
                <td> <button (click)="deleteItem(i)" class="btn-delete btn-dark">ລົບ</button> </td>
              </tr>
            </tbody>
          </table>

          <button class="btn_save mt-3" (click)="addOrder()">ບັນທຶກ</button>
       
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
