<div class="container1 mt-2">
    <div>
        <div fxFlex="row">
            <div class="title" fxflex="70%" fxFlex.gt-sm="100%" >
                <div fxLayout="column" fxFlex="0 0 47%" fxFlex.lg="100%">
                    <div fxLayoutAlign="start center">
                      <div class="circle">
                        <img src="../../assets/img/cashier-machine.png" alt="" />
                      </div>
                      <div class="row">
                          <div class="col">
                            <div class="h4">
                              ຂາຍສິນຄ້າ
                            </div>
                           
                          </div>                          
                      </div>
                    </div>
                  </div>
                 
            </div>
        </div>
    </div>
    <div>
        <div fxFlex="row">
            
        </div>
    </div>
    <div class="data-sale" fxLayout="row wrap" fxLayoutAlign="center" >
        <div class="card1" fxflex="70%" fxFlex.gt-sm="100%" >
          <div fxLayout="row" fxLayoutAlign="space-between" >
            <!-- ລາຍການຂາຍທັງໝົດ -->
            <div class="search-section" fxflex="70%" fxFlex.gt-sm="100%"> <div>
                        <!-- <mat-icon class="search">search</mat-icon> -->
                        <!-- <input type="text" #input (input)="search_Product(input.value)" value=""  class="indent" placeholder="ຄົ້ນຫາ"> -->
                        <div class="show-product bg-light mt-3" >
                            <div class="h6" fxFlex="100%">
                     
                              <div class="row">
                                <div class="col">
                                  <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg> -->
                                  <img class="img" src="../../assets/img/search-interface-symbol.png" alt="">
                                  <input class="search" type="text" #input (input)="search_Product(input.value)" value="" placeholder="ຄົ້ນຫາ">
                                </div>
                                <div class="col text-end">
                                  <button type="button" (click)="onSelectcategory(1)" class="btn btn-outline-secondary" style="border-radius: 50px ;">ເສື້ອແຂນສັ້ນ</button>
                                  <button type="button" (click)="onSelectcategory(2)" class="btn btn-outline-secondary" style="border-radius: 50px ; margin-left: 10px;">ເສື້ອແຂນຍາວ</button>
                                  <!-- <button type="button" (click)="onSelectcategory(3)" class="btn btn-outline-secondary" style="border-radius: 50px ; margin-left: 10px;">ກະໂປ່ງ</button> -->
                                </div>     
                              </div>
                              

                           <div class="mt-3">
                            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
            
                              
                              <!-- Name Column -->
                              <ng-container matColumnDef="image" >
                                <th class="th_1" mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ຮູບພາບ </th>
        
                                <td mat-cell *matCellDef="let element" class="text-center" > <img class="pic"  (click)="addToCart(element)" src="{{element.image}}" alt=""> </td>
                              </ng-container>
                               
                              <ng-container matColumnDef="productCode" >
                                <th mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ລະຫັດສິນຄ້າ </th>
                                <td mat-cell *matCellDef="let element" class="text-center" > {{element.product_code}} </td>
                              </ng-container>

                              <ng-container matColumnDef="proName" >
                                <th mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ຊື່ສິນຄ້າ </th>
                                <td mat-cell *matCellDef="let element" class="text-center" > {{element.productName}} </td>
                              </ng-container>
          
                              <ng-container matColumnDef="qty" >
                                <th mat-header-cell *matHeaderCellDef style="width: 50px ; text-align: center;" > ຈຳນວນ </th>
                                <td mat-cell *matCellDef="let element" class="text-center" > {{showOutOfStock(element.Qty)}} </td>
                              </ng-container>
          
                              <ng-container matColumnDef="sell_price" >
                                <th class="th_2" mat-header-cell *matHeaderCellDef style="width: 120px ; text-align: center;" > ລາຄາຂາຍ </th>
                                <td mat-cell *matCellDef="let element" class="text-center" > {{element.sell_price | number}} ກີບ </td>
                              </ng-container>
            
                              <!-- Weight Column -->
                              
                            
                              <tr mat-header-row *matHeaderRowDef="displayProduct"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayProduct;"></tr>
                            </table>
                           </div>
                           
                            </div>
                        </div>
                    </div>
                  
            </div>
      
            <!-- ຍອດຂາຍຕໍ່ມື້ -->
            <div class="container2" fxLayout="column" fxFlex="0 0 38%" >
             
              <div class="card">
                <div class="row">
                  <div class="h6 mt-3 ms-4">ລາຍການຂາຍທີ່ເລືອກ</div>
                </div>
                <hr>
                <div class="text-start|center|end" style="height: 500px; max-height:400px; overflow-x: hidden;">
                  <div class="row" *ngFor=" let item of cartItem;let i = index;">
                    <div class="col pe-0 ms-3">
                      <img class="pic-cart" src="{{item.image}}" alt="">
                    </div>
                    <div class="col me-5 pe-5 ps-0 ms-0">

                        <h4> {{item.productName}}</h4>
                        <p class="card-text text-bold"> {{item.sell_price | number }}  ກີບ </p>
                     
                        <div class="col">
                         
                        </div>
                        
                      </div>
                    
                    <div class="col">
                      <div class="card-body">
                        <div class="row mt-2 me-5">
                          
                          <div class="col text-end">
                            <button class="btn-clear ms-2" (click)="deleteItem(i)"><mat-icon>delete</mat-icon></button>
                            <div class="row">
        
                              <div class="col d-flex justify-content-center text-end pe-0 ps-1" >
                                <button class="btn-add me-5 mb-2"   (click)="increase(i,item)"><mat-icon>add_circle_outline</mat-icon></button>
                                <div class="h5 mt-4">{{item.Qty}}</div>
                                <button class="btn-minimize mb-2" (click)="decrease(i)"><mat-icon>remove_circle_outline</mat-icon></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                 

                </div>
                <hr>
                <div class="row">
                  <div class="col-4 h6" style="margin-left: 1rem ;">
                    ລາຄາລວມທັງໝົດ
                  </div>
                  <div class="col h5 text-end pe-5">{{this.TotalPrice | number}} ກີບ</div>
                </div>
                

                <!-- <table>
                  <tr>
                    
                    <td style="max-width: 280px;">Name</td>
                    <td style="width: 100px;">Qty</td>
                    <td style="width: 120px;">price</td>
                    <td style="width: 70px;">action</td>
                  </tr>
                </table> -->
                <!-- <mat-icon>
                  list
                </mat-icon>
              <div class="h5 ps-5" >
               
              </div> -->
              <!-- <div class="choose-product">
                
                  <img class="img2" src="../../assets/img/sell.png" alt="">
              

              </div> -->
              
              </div>
            <button [disabled]="this.cartItem == 0" (click)="confirm_sale_dialog()" class="btn_sale mt-1 pt-2 pb-3">ຂາຍສິນຄ້າ</button>
              
            </div>
          </div>
        </div>
      </div>
</div>