.container1{
    background-color: white;
    width: 100%;

}
.title{
    height: auto;
    margin: 10px 50px;
}
.circle{
    width: 50px;
    height: 50px;
    background-color: #d6e4f9;
    border-radius: 50px;
}
img{
    width: 35px;
    height: 35px;
    margin: 8px 8px;
}
.h4{
    margin: 2px 20px;
}
.search-section{
    width: 100px;
}
input{
    border-radius: 50px;
    width: 500px;
    height: 30px;
    border: 1px solid #89ABDE;
    
}
input:focus{
    outline: none;
}



input::placeholder{
    padding-left: 35px;
}
.mat-icon{
color: #89ABDE ;
position: absolute;
margin-left: 10px;
}
.card1{
    background-color: white;
    border-radius: 10px;
    height: 100px;
    margin:0 50px;
    
}

.show-product{
    width: 90%;

}
.sec1{
    background-color: #89ABDE;
}
.fill{
        height: 100%;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
}
.choose-product{
    width: 580px;
    height: 100px;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin-left: 10px;
}
.pic{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.container2{
    height: 450px;

    padding-left: 0;

}
.card{
    width: 440px;
    border-radius: 10px;
    margin-top: -50px;
}

table{
    width: 100%;
    box-shadow: 3px 6px 2px 0px rgba(234, 234, 234, 0.75);
    -webkit-box-shadow: 8px 10px 5px 0px rgba(234, 234, 234, 0.75);
    -moz-box-shadow: 8px 10px 5px 0px rgba(234, 234, 234, 0.75);
    
}
.th_1{
    border-top-left-radius: 15px;
}
.th_2{
    border-top-right-radius: 15px;
}
th{
    background-color: #d6e4f9;
    color: #7096cf ;
    font-size: 15px;
}
td{
    padding: 5px;
    font-size: 15px;
}
.btn_sale{
    background-color: #89ABDE;
    border-radius: 50px;
    color: white;
    border: none;
    height: 35px;
    width: 440px;
}
.img2{
    width: 100px;
    height: 100px;
    margin: 0px 8px;
    padding: 10px;
}
.btn-add,.btn-minimize,.btn-clear{
   background-color: white;
    border: none;
}
/* .btn-add{
    margin-left: 100px;
} */

/* .btn-add{
    margin-left: -10px;
} */
.btn-clear{
    position: absolute;
    margin-top: -25px;
    margin-left: -40px;
}
/* .btn-minimize{
    margin-left: -22px;
} */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: lightgray;
    border-radius: 100vw;
}

.search{
    width: 300px;
    border: 1px solid #898989;
    height: 33px;
    outline: none;
    text-indent: 30px;
}
.search::placeholder{
    text-indent: 0;
    font-size: 14px;
}
.img{
    width: 18px;
    height: 18px;
    margin-left: 12px;
    margin-top: 7px;
    position: absolute;
}
.header{
    background-color: #d6e4f9;

}
.pic-cart{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}