<div class="container1 mt-2">
    <div>
        <div fxFlex="row">
            <div class="title" fxflex="70%" fxFlex.gt-sm="100%" >
                <div fxLayout="column" fxFlex="0 0 47%" fxFlex.lg="100%">
                    <div fxLayoutAlign="start center">
                      <div class="circle">
                        <img src="../../assets/img/trade (1).png" alt="" />
                      </div>
                      <div>
                          <div class="h4">ຂາຍສິນຄ້າ</div>
                      </div>
                     
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div>
        <div fxFlex="row">
            
        </div>
    </div>
    <div class="data-sale" fxLayout="row wrap" fxLayoutAlign="center" >
        <div class="card1" fxflex="70%" fxFlex.gt-sm="100%" >
          <div fxLayout="row" fxLayoutAlign="space-between" >
            <!-- ລາຍການຂາຍທັງໝົດ -->
            <div class="search-section" fxflex="70%" fxFlex.gt-sm="100%">
                
                    
                    <div>
                        <!-- <mat-icon class="search">search</mat-icon> -->
                        <input type="text" #input (input)="search_Product(input.value)" value=""  class="indent" placeholder="ຄົ້ນຫາ">
                        <div class="show-product bg-light mt-3" >
                            <div class="h6" fxFlex="100%">
                     
                              <div >
                              <button type="button" (click)="onSelectcategory(1)" class="btn btn-outline-secondary" style="border-radius: 50px ;">ເສື້ອແຂນສັ້ນ</button>
                              <button type="button" (click)="onSelectcategory(2)" class="btn btn-outline-secondary" style="border-radius: 50px ; margin-left: 10px;">ເສື້ອແຂນຍາວ</button>
                              <button type="button" (click)="onSelectcategory(3)" class="btn btn-outline-secondary" style="border-radius: 50px ; margin-left: 10px;">ກະໂປ່ງ</button>
                              </div>

                              <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
            
                              
                                <!-- Name Column -->
                                <ng-container matColumnDef="image" >
                                  <th mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ຮູບພາບ </th>
          
                                  <td mat-cell *matCellDef="let element" class="text-center" > <img class="img2"  (click)="addToCart(element)" src="{{element.image}}" alt=""> </td>
                                </ng-container>
                                 
                                
                                <ng-container matColumnDef="proName" >
                                  <th mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ຊື່ສິນຄ້າ </th>
                                  <td mat-cell *matCellDef="let element" class="text-center" > {{element.productName}} </td>
                                </ng-container>
            
                                <ng-container matColumnDef="qty" >
                                  <th mat-header-cell *matHeaderCellDef style="width: 50px ; text-align: center;" > ຈຳນວນ </th>
                                  <td mat-cell *matCellDef="let element" class="text-center" > {{showOutOfStock(element.Qty)}} </td>
                                </ng-container>
            
                                <ng-container matColumnDef="sell_price" >
                                  <th mat-header-cell *matHeaderCellDef style="width: 120px ; text-align: center;" > ລາຄາຂາຍ </th>
                                  <td mat-cell *matCellDef="let element" class="text-center" > {{element.sell_price | number}} ກີບ </td>
                                </ng-container>
            
  
                            
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef style="width: 150px ; text-align: center;"> ຈັດການ </th>
                                    <td mat-cell *matCellDef="let element" class="text-center" > <button class="btn-delete"><mat-icon>create</mat-icon></button> <button class="btn-delete"><mat-icon>delete</mat-icon></button>   </td>
                                  </ng-container>
                              
                                <!-- Weight Column -->
                                
                              
                                <tr mat-header-row *matHeaderRowDef="displayProduct"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayProduct;"></tr>
                              </table>
                           
                            </div>
                        </div>
                    </div>
                  
            </div>
      
            <!-- ຍອດຂາຍຕໍ່ມື້ -->
            <div class="container2" fxLayout="column" fxFlex="0 0 38%" >
             
              <div class="card">
                <div class="h6 mt-2 ms-3">ລາຍການຂາຍທີ່ເລືອກ</div>
                <hr>
                <div class="text-start|center|end" style="height:400px; max-height:380px; overflow-x: hidden;">
                  <div class="row" *ngFor=" let item of cartItem;let i = index;">
                    <div class="col">
                      <div class="card-body">
                        <h4 class="card-title text-bold"> {{item.productName}}</h4>
                        <div class="row">
                          <div class="col">
                            <p class="card-text text-bold"> {{item.sell_price}}  ກີບ </p>
                          </div>
                          <div class="col d-flex flex-row justify-content-center">
                            <button class="btn-add" (click)="increase(i,item)"><mat-icon>add_circle_outline</mat-icon></button>
                            <div class="h5">{{item.Qty}}</div>
                            <button class="btn-minimize" (click)="decrease(i)"><mat-icon>remove_circle_outline</mat-icon></button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <div class="col">
                      <div class="card-body">
                        <div class="row mt-4 ms-3">
                          
                          <div class="col">
                            <button class="btn-clear" (click)="deleteItem(i)"><mat-icon>delete</mat-icon></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                 

                </div>
                <hr>
                <div class="row">
                  <div class="col-4 h6" style="margin-left: 1rem ;">
                    ລາຄາລວມທັງໝົດ
                  </div>
                  <div class="col h5 text-end pe-5">{{TotalPrice}} ກີບ</div>
                </div>
                

                <!-- <table>
                  <tr>
                    
                    <td style="max-width: 280px;">Name</td>
                    <td style="width: 100px;">Qty</td>
                    <td style="width: 120px;">price</td>
                    <td style="width: 70px;">action</td>
                  </tr>
                </table> -->
                <!-- <mat-icon>
                  list
                </mat-icon>
              <div class="h5 ps-5" >
               
              </div> -->
              <!-- <div class="choose-product">
                
                  <img class="img2" src="../../assets/img/sell.png" alt="">
              

              </div> -->
              
              </div>
              <button (click)="confirm_sale_dialog()" class="btn_sale mt-1 pt-2 pb-3">ຂາຍສິນຄ້າ</button>
                
            </div>
          </div>
        </div>
      </div>
</div>