<div class="container mt-3">
   
    <div class="row mt-5 ms-5">
        <mat-icon matListIcon style="position: absolute ;">save_alt</mat-icon>
        <!-- <div class="h5" style="position: absolute ; margin-left: 30px; margin-top: 5px;">ນຳສິນຄ້າເຂົ້າ</div> -->
        
        <div class="col">
          <div class="h5 ms-5 mt-1" >ນຳສິນຄ້າເຂົ້າ</div>
        </div>
        <div class="row mt-4">
            <div class="col ms-4 ps-4">
                <p>ລະຫັດການສັ່ງຊື້ <span class="ps-3"> {{dataAll[0].orderID}} </span></p>
                <p>ຜູ້ສະໜອງ <span class="ps-3"> {{dataAll[0].supName}} </span></p>
            </div>
    
            <div class="col text-end me-4 ">
                <p>ວັນທີ <span class="ps-3"> {{dataAll[0].buy_date | date:'dd/MM/yyyy'}}</span></p>
                <p>ສະຖານະ <span class="ps-3">{{status(dataAll[0].status)}}</span></p>
            </div>


            <div class="row">
                <div class="col text-end ">
                    <button type="button" (click)="importDetail()" *ngIf="dataAll[0].status == 0" class="btn">ນຳສິນຄ້າເຂົ້າ</button>
                </div>
            </div>
        </div>

        <div class="col mt-4">
            <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8" *ngIf="dataAll[0].status == 0">
     
              <ng-container matColumnDef="proID">
                <th class="th_1" mat-header-cell *matHeaderCellDef style="width: 70px; text-align: center;" > ລຳດັບ </th>
                <td mat-cell *matCellDef="let element ; let i = index" class="text-center" > {{i+1}} </td>
              </ng-container>
            
              <ng-container matColumnDef="product_code" >
                <th mat-header-cell *matHeaderCellDef style="width: 70px ; text-align: center;" > ລະຫັດສິນຄ້າ </th>
                <td mat-cell *matCellDef="let element" class="text-center" > {{element.product_code}} </td>
              </ng-container>
             
              <ng-container matColumnDef="image" >
                <th mat-header-cell *matHeaderCellDef style="width: 70px ; text-align: center;" > ຊື່ສິນຄ້າ </th>
                <td mat-cell *matCellDef="let element" class="text-center" > {{element.productName}} </td>
              </ng-container>
  
              <ng-container matColumnDef="proName" >
                <th mat-header-cell *matHeaderCellDef style="width: 150px ; text-align: center;" > ຈຳນວນທີ່ໄດ້ສັ່ງຊື້ </th>
                <td mat-cell *matCellDef="let element" class="text-center" > {{element.buy_qty}} ຜືນ </td>
              </ng-container>

              <ng-container matColumnDef="import_qty" >
                <th mat-header-cell *matHeaderCellDef style="width: 200px ; text-align: center;" > ຈຳນວນທີ່ນຳເຂົ້າ </th>
                <td mat-cell *matCellDef="let element,let i = index" class="text-center" > <input type="text" type="text" id="{{element.productID}}" (keyup)="setValue($event,element,i)" [value]="element.buy_qty"> ຜືນ </td>
              </ng-container>
  

              <ng-container matColumnDef="buy_price">
                <th class="th_2" mat-header-cell *matHeaderCellDef style="width: 150px ; text-align: center;"> ລາຄາ </th>
                <td mat-cell *matCellDef="let element" class="text-center" > {{element.price | number}} ກີບ </td>
              </ng-container>

            
              <tr mat-header-row *matHeaderRowDef="displayOrder"></tr>
              <tr mat-row *matRowDef="let row; columns: displayOrder;"></tr>
              
            </table>

            <table mat-table [dataSource]="importdetail_qty" class="mat-elevation-z8" *ngIf="dataAll[0].status == 1">
     
              <ng-container matColumnDef="proID">
                <th class="th_1" mat-header-cell *matHeaderCellDef style="width: 5px; text-align: center;" > ລຳດັບ </th>
                <td mat-cell *matCellDef="let element; let i = index" class="text-center" > {{i+1}} </td>
              </ng-container>
            
              <ng-container matColumnDef="product_code" >
                <th mat-header-cell *matHeaderCellDef style="width: 70px ; text-align: center;" > ລະຫັດສິນຄ້າ </th>
                <td mat-cell *matCellDef="let element" class="text-center" > {{element.product_code}} </td>
              </ng-container>
             
              <ng-container matColumnDef="image" >
                <th mat-header-cell *matHeaderCellDef style="width: 200px ; text-align: center;" > ຊື່ສິນຄ້າ </th>
                <td mat-cell *matCellDef="let element" class="text-center" > {{element.productName}} </td>
              </ng-container>
  
              <ng-container matColumnDef="proName" >
                <th mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ຈຳນວນທີ່ຈັດຊື້ </th>
                <td mat-cell *matCellDef="let element" class="text-center" > {{element.buy_qty}} </td>
              </ng-container>

              <ng-container matColumnDef="import_qty" >
                <th mat-header-cell *matHeaderCellDef style="width: 100px ; text-align: center;" > ຈຳນວນທີ່ນຳເຂົ້າ </th>
                <td mat-cell *matCellDef="let element" class="text-center" > {{element.import_qty}} </td>
              </ng-container>
  

              <ng-container matColumnDef="buy_price">
                <th class="th_2" mat-header-cell *matHeaderCellDef style="width: 150px ; text-align: center;"> ລາຄາ </th>
                <td mat-cell *matCellDef="let element" class="text-center" > {{element.buy_price | number}} ກີບ </td>
              </ng-container>
              
            
              <tr mat-header-row *matHeaderRowDef="displayImport"></tr>
              <tr mat-row *matRowDef="let row; columns: displayImport;"></tr>
              
            </table>
            
            <!-- <div>ລາຄາລວມ</div> -->
         
          </div>
    </div>
</div>