mat-icon{
    color: #89ABDE;
}
.btn{
    border-radius: 50px;
    background-color: #89ABDE;
    color: white;
}
table{
    width: 97%;
    box-shadow: none;
}
.btn-delete{
    background-color: white;
    border: none;
}
th{
    background-color: #d6e4f9;
    color: #7096cf ;
    font-size: 14px;
}
td{
    font-size: 14px;
}
.th_1{
    border-top-left-radius: 15px ;
}
.th_2{
    border-top-right-radius: 15px ;
}

input{
    width: 50px;
}
