<div class="container text-center mt-4">
    <div class="h4">ລາຍການຂາຍທັງໝົດ</div>

 

     

      <div class="col mt-4">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Position Column -->

            <ng-container matColumnDef="no">
              <mat-header-cell  class="th_1" style="width:100px; text-align: center;" *matHeaderCellDef> ລຳດັບ </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index"> {{i+1}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell  *matHeaderCellDef style="width:100px"> ວັນທີ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.payDate | date:'dd/MM/yyyy'}} </mat-cell>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="emName">
              <mat-header-cell *matHeaderCellDef> ພະນັກງານ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.emName}} </mat-cell>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="total_price">
              <mat-header-cell *matHeaderCellDef> ລາຄາລວມທັງໝົດ </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.total_price | number}} ກີບ </mat-cell>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell class="th_2 text-end" *matHeaderCellDef> ລາຍລະອຽດ </mat-header-cell>
              <mat-cell *matCellDef="let element"><button class="btn-detail" (click)="show_saleDetail(element.saleID)">ລາຍລະອຽດ</button></mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        
        
        </table>
          
          <mat-paginator [length]="data.length"
                              [pageSize]="10"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
          </mat-paginator>
      </div>

</div>

