<div fxLayout="row wrap" fxLayoutAlign="center">
  <div class="card" fxflex="70%" fxFlex.gt-sm="100%" >
    <div fxLayout="row" fxLayoutAlign="space-between">
      <!-- ລາຍການຂາຍທັງໝົດ -->
      <div fxLayout="column" fxFlex="0 0 47%" fxFlex.lg="100%">
        <div fxLayoutAlign="center center">
          <div class="circle">
            <img src="../../assets/img/all.png" alt="" />
          </div>
          <div fxLayout="column" fxFlex="0 0 60%">
            <p>ລາຍການຂາຍທັງໝົດ</p>
            <p>0 ລາຍການ</p>
          </div>
        </div>
      </div>

      <!-- ຍອດຂາຍຕໍ່ມື້ -->
      <div fxLayout="column" fxFlex="0 0 47%">
        <div fxLayoutAlign="center center">
          <div class="circle">
            <img src="../../assets/img/money.png" alt="" />
          </div>
          <div fxLayout="column" fxFlex="0 0 60%">
            <p>ຍອດຂາຍຕໍ່ມື້</p>
            <p>0 ກີບ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card2">
  <a [routerLink]="['/sale']"><mat-icon>add_circle_outline</mat-icon>ຂາຍສິນຄ້າ</a>
</div>

<div class="card2" fxLayout="row wrap">
    <mat-icon class="icon">update</mat-icon>
     <p>ລາຍການຂາຍທັງໝົດ</p>
  </div>

  <!-- ຕາຕະລາງລາຍການຂາຍລ່າສຸດ -->

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


  </mat-table>
  
  <mat-paginator [length]="data.length"
                      [pageSize]="5"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
  </mat-paginator>



