<div fxLayout="row wrap" fxLayoutAlign="center" class="mt-5">
  <div class="card" fxflex="70%" fxFlex.gt-sm="100%" >
    <div fxLayout="row" fxLayoutAlign="space-between">
      <!-- ລາຍການຂາຍທັງໝົດ -->
      <div fxLayout="column" fxFlex="0 0 47%" fxFlex.lg="100%">
        <div fxLayoutAlign="center center">
          <div class="circle">
            <img src="../../assets/img/all.png" alt="" />
          </div>
          <div fxLayout="column" fxFlex="0 0 60%">
           <div class="mt-1">
            <div class="h4">ລາຍການຂາຍທັງໝົດ </div>
            <div class="h4"> {{this.data.length}} ລາຍການ</div>
           </div>
          </div>
        </div>
      </div>

      <!-- ຍອດຂາຍຕໍ່ມື້ -->
      <div fxLayout="column" fxFlex="0 0 47%">
        <!-- <div fxLayoutAlign="center center">
          <div class="circle">
            <img src="../../assets/img/money.png" alt="" />
          </div>
          <div fxLayout="column" fxFlex="0 0 60%">
            <p>ຍອດຂາຍຕໍ່ມື້</p>
            <p>0 ກີບ</p>
          </div>
        </div> -->
        <div>
          <div class="bg-next mt-4 me-4"  style="float: right ;">
            <a [routerLink]="['/sale-list']">
            <mat-icon class="next">keyboard_arrow_right</mat-icon>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card2">
  <div>
    <a class="button" [routerLink]="['/sale']"><mat-icon class="add">add_circle_outline</mat-icon>ຂາຍສິນຄ້າ</a>
  </div>
</div>

<div class="card2" fxLayout="row wrap">
    <mat-icon class="icon">update</mat-icon>
     <p>ລາຍການຂາຍລ່າສຸດ</p>
  </div>

  <!-- ຕາຕະລາງລາຍການຂາຍລ່າສຸດ -->

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell class="th_1" *matHeaderCellDef> ວັນທີ </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.payDate | date:'dd/MM/yyyy'}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="emName">
      <mat-header-cell *matHeaderCellDef> ພະນັກງານ </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.emName}} </mat-cell>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="total_price">
      <mat-header-cell *matHeaderCellDef> ລາຄາລວມທັງໝົດ </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.total_price | number}} ກີບ </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell class="th_2 text-end" *matHeaderCellDef> ລາຍລະອຽດ </mat-header-cell>
      <mat-cell *matCellDef="let element"><button class="btn-detail" (click)="show_saleDetail(element.saleID)">ລາຍລະອຽດ</button></mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


  </mat-table>
  
  <mat-paginator [length]="data.length"
                      [pageSize]="5"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
  </mat-paginator>



